.box-exs {
    margin: 60px 0;;
}

.ex-pdf {
    height: 50px;
    width: 400px;
    margin: 20px 0;
    display: flex;
    transition: .3s;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
}
.ex-pdf:hover {
    width: 400px;
    height: 60px;
    background-color: rgb(198, 196, 196);
}

a {
    color: #000;
    font-size: 21px;
    font-weight: 600;
    padding: 4px 70px;
    text-decoration: none;
}


.auxi {
    background-color: aqua;
    height: 100px;
}
.auxi:hover {
    background-color: rgb(6, 206, 206);
    height: 110px;
}